*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#background{
    height: 120vh;
    width: 100%;
    /* max-height: 600vh; */
    background-color: #0d1117;
    overflow: hidden;
}
#background>.background-img{
    height: 100%;
    width: 100%;
    background-image: url(./assets/mainBGimg.jpeg);
    background-repeat: no-repeat;
    background-size: 1150px;
    margin-left: 65%
}
/* ========================================= NAV BAR ===================================*/

#background>.navbar{
    margin-top: -118vh;
}
#background>.navbar>.container-fluid>.navbar-collapse>ul>li>a{
    color: white;
}
#background>.navbar>.container-fluid>.navbar-collapse>form{
    width: 38%;
    height: 35px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
#background>.navbar>.container-fluid>.navbar-collapse>form>div{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
   
}
#background>.navbar>.container-fluid>.navbar-collapse>form>div>.searchs{
    height: 95%;
    width: 100%;
    background-color: rgba(89, 123, 161, 0.295);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:0.5px solid rgba(255, 255, 255, 0.39);
    border-radius: 5px;
}
#background>.navbar>.container-fluid>.navbar-collapse>form>div>.searchs>.search-icon{
    height: 90%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    
}
#background>.navbar>.container-fluid>.navbar-collapse>form>div>.searchs>.search-bar{
    height: 95%;
    width: 80%;
text-align: left;    

}
#background>.navbar>.container-fluid>.navbar-collapse>form>div>.searchs>.search-bar>input{
    background: none;
    border: none;
   
}
#background>.navbar>.container-fluid>.navbar-collapse>form>div>.searchs>.search-bar>input::placeholder{
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    

}
#background>.navbar>.container-fluid>.navbar-collapse>form>div>.searchs>.search-btn{
    height: 21px;
    width: 21px;
    margin-right: 5px;
    color: rgba(255, 255, 255, 0.39);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 0.5px solid rgba(255, 255, 255, 0.39);
}

#background>.navbar>.container-fluid>.navbar-collapse>form>div>input{
    background-color: rgba(89, 123, 161, 0.295);
    color: white;
    width: 23.5vw;
    height:90% ;
    border: 0.5px solid rgba(255, 255, 255, 0.39);
}
#background>.navbar>.container-fluid>.navbar-collapse>form>.btn1{
    height: 95%;
    width: 70px;
    color: white;
    background: none;
    border: none;
}
#background>.navbar>.container-fluid>.navbar-collapse>form>.btn1:hover{
    opacity: 0.75;
}
#background>.navbar>.container-fluid>.navbar-collapse>form>.btn2{
    height: 95%;
    width: 70px;
    color: white;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
}
#background>.navbar>.container-fluid>.navbar-collapse>form>.btn2:hover{
    opacity: 0.75;
}

#background>.navbar>.container-fluid>.navbar-collapse>.navbar-nav .nav-item:hover>.dropdown-menu{
    display: block;
}
#background>.navbar>.container-fluid>.navbar-collapse>.navbar-nav .nav-item:hover>a>svg{
    opacity: 0.4;
    transform:translate(0px,2px) ;
    transition: 0s;
}

#background>.navbar>.container-fluid>.navbar-collapse>.navbar-nav .nav-item>.dropdown-menu>li>div{
        display: flex;
}
#background>.navbar>.container-fluid>.navbar-collapse>.navbar-nav .nav-item>.dropdown-menu>li,
#background>.navbar>.container-fluid>.navbar-collapse>.navbar-nav .nav-item>.dropdown-menu>li>h6{
    margin-left: 15px;
}

#background>.navbar>.container-fluid>.navbar-collapse>.navbar-nav .nav-item>.dropdown-menu>li>div>a>h6>p{
    font-size: 14px;
    font-weight: 450;
    color: rgba(0, 0, 0, 0.623);
}
#background>.navbar>.container-fluid>.navbar-collapse>.navbar-nav .nav-item>.dropdown-menu>li>.dropdown-item>p{
    font-size: 14px;
    font-weight: 450;
    color: rgba(0, 0, 0, 0.623);
}
#background>.navbar>.container-fluid>.navbar-collapse>.navbar-nav .nav-item>.dropdown-menu>li>a>h6{
    margin-top: 15px;
}
#background>.navbar>.container-fluid>.navbar-collapse>.navbar-nav .nav-item>.dropdown-menu>li>a>h6>p{
    font-size: 14px;
    font-weight: 450;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.623);
}
#background>.navbar>.container-fluid>.navbar-collapse>.navbar-nav .nav-item-pricing:hover{
opacity: 0.7;
}

/* ========================================= FIRST PAGE ======================================= */
#background>.firstpage{
    margin-top: 17vh;
    /* background-color: red; */
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#background>.firstpage>.col-1{
    height: 100%;
    width: 5%;
    margin-left: 20px;
    /* background-color: purple; */
}
#background>.firstpage>.col-1>.circle{
    height: 4%;
    width: 100%;
    text-align: center;
    margin-right: 3px;
    
}
#background>.firstpage>.col-1>.line{
    height: 36%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 9px ;
}
#background>.firstpage>.col-1>.line1{
    height: 50%;
    display: flex;
    justify-content: center;
    margin-top: 15px;

}
#background>.firstpage>.col-1>.arrows{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 15px;
}
#background>.firstpage>.col-1>.arrows>div{
    height: 100%;
}

#background>.firstpage>.contents{
    margin-top: -15vh;
    height: 80%;
    width: 90%;
    /* background-color: pink; */
}
#background>.firstpage>.contents>.div1{
    /* background-color: red; */
    height: 20%;
}
#background>.firstpage>.contents>.div1>h1{
    font-size: 97px;
    line-height: 80px;
    font-weight: 600;
    letter-spacing: -0.03em;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#background>.firstpage>.contents>.div2{
    /* background-color: red; */
    height:27%;
}
#background>.firstpage>.contents>.div2>p{
    font-size: 24px ;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.03em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.45);
}
#background>.firstpage>.contents>.div3{
    height: 50px;
    width:66%;
    /* background-color: crimson; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* z-index: -1; */
}
#background>.firstpage>.contents>.div3>form{
    height: 100%;
    width: 60%;
    /* background-color: white; */
}
#background>.firstpage>.contents>.div3>form>.divs{
    height: 100%;
    width: 100%;
    display: flex;
    /* background-color: red; */
}

#background>.firstpage>.contents>.div3>form>.divs>input{
    height: 100%;
    width: 75%;
    border: none;
    border-radius: 6px 0px 0px 6px;
    background-color: white;
}
#background>.firstpage>.contents>.div3>form>.divs>input::placeholder{
    transform: translateX(15px);
}
#background>.firstpage>.contents>.div3>form>.divs>button{
    height: 100%;
    width: 50%;
    background: #6e40c9;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0px 6px 6px 0px;

}
#background>.firstpage>.contents>.div3>.break{
    height: 100%;
    width: 4%;
    /* background-color: blue; */
    text-align: center;
}
#background>.firstpage>.contents>.div3>.break>p{
    height: 100%;
    width: 100%;
    margin-top: -15px;
    font-size: 45px;
    color: rgba(255, 255, 255, 0.288);
    font-weight: 10;

}
#background>.firstpage>.contents>.div3>.href-btn{
    height: 100%;
    width: 35%;
    /* background-color: yellow; */
    /* z-index: 1; */
}
#background>.firstpage>.contents>.div3>.href-btn>button{
    height: 100%;
    width: 100%;
    background: none;
    border: 0.5px solid #874bdb ;
    border-radius: 5px;
    color: white;
    box-shadow: #bc8cff 0 0 0 1px inset;
    font-size: 1rem;
    font-weight: 700;
}
#background>.firstpage>.contents>.div3>.href-btn>button:hover{
    cursor: pointer;
    border: 2px solid white;
}
#background>.firstpage>.contents>.div4{
    height: 18%;
    width: 100%;
    /* background-color: red; */
}
#background>.firstpage>.contents>.div5{
    height: 8%;
    width: 40%;
    display: flex;
    align-items:first baseline;
    justify-content: space-between;
    /* background-color: pink; */
}
#background>.firstpage>.contents>.div5>p{
    font-size: 22px ;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
}
#background>.firstpage>.contents>.div6{
    height: 18%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}
/*================================ SECOND PAGE ============================================== */
#background2{
    height: 2000vh;
    width: 100%;
    background-color: #0d1117;
}
#background2>.secondpage{
    height: 100vh;
    width: 100%;
    /* background-color: yellow; */
}

/* ==================================Productivity=========================================== */

#background2>.secondpage .section-third{
    width: 100%;
    height: 900px;
    /* background-color: green; */

    
}
#background2>.secondpage .section-third .section-productivity{
    width: 96%;
    height: 96%;
    /* background-color: #100e13; */
    display: flex;
}
#background2>.secondpage .section-third .section-productivity .productivity-left{
    /* background-color: rgb(184, 86, 102); */
    height: 50%;
    width: 10%;
}
#background2>.secondpage .section-third .section-productivity .productivity-left .left-1{
    /* background-color: rgb(144, 177, 24); */
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -7px 0px 0px 5px;
}
#background2>.secondpage .section-third .section-productivity .productivity-left .left-2{
    /* background-color: rgb(90, 18, 21); */
    height: 80%;
    width: 100%;
    padding-left: 54%;
}
#background2>.secondpage .section-third .section-productivity .productivity-left .left-2 div{
    /* background-color: rgb(21, 124, 21); */
    height: 80%;
    width: 3px;
    
    
}
#background2>.secondpage .section-third .section-productivity .productivity-mid{
    /* background-color: brown; */
    height: 40%;
    width: 70%;
}
#background2>.secondpage .section-third .section-productivity .productivity-mid h4{
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    letter-spacing: -0.01em;
    color: white;
}
#background2>.secondpage .section-third .section-productivity .productivity-mid h3{
    font-size: 48px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 48px;
    margin-top: 2%;
    color: rgb(63, 185, 80);
}
#background2>.secondpage .section-third .section-productivity .productivity-mid h2{
    font-size: 48px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 48px;
    color: white;
}
#background2>.secondpage .section-third .section-productivity .productivity-right{
    /* background-color: rgb(66, 31, 129); */
    height: 50%;
    width: 23%;
}
#background2>.secondpage .section-third .section-productivity .productivity-right>img{
    margin-top: -5px;
    animation: rotate 50s;

}

/* ================================================================================== */
#background2>.secondpage .section-forth{
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    /* background-color: #0d1117; */
    margin-top: -41%;
}
#background2>.secondpage .section-forth-img{
    width: 95%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative; 
}
#background2>.secondpage .section-forth-img>img{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(56, 54, 54);
    border-radius: 15px;
    margin-top: -30px;
    
}
/* #background2>.secondpage .section-forth-img{
    animation: fade-up 0.5s;
    
} */
/* @keyframes fade-up {
    0%{
        opacity:0;
        transform:translateY(30px) scale(0.9);}
    100%{
        opacity:1;
        transform:translateY(0px) scale(1);
    }
} */
/* @keyframes fadeIn {
    0%{opacity: 0;}
    50%{opacity: 5;}
    100%{opacity: 1;}
    
} */
#background2>.secondpage .section-forth-img>.code{
    height: 77vh;
    width: 34vw;
    /* background-color: red; */
    position: relative;
    margin: -47vh 0vh 0px 55vw;
    border-radius: 10px;

}
#background2>.secondpage .section-forth-img>.code>img{
    border-radius: 10px;
}
#background2>.section-five{
    height: 240vh;
    width: 100%;
    /* background-color: pink; */
}
#background2>.section-five>.line3{
    top: 46.5vh;
    height: 115vh;
    width: 10vw;
    margin-left: 20px;
    /* background-color:orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#background2>.section-five>.line3>.col-1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#background2>.section-five>.line3>.col-1>img{
margin-top: 40vh;
}
#background2>.section-five>.para1{
    height: 34vh;
    width: 37vw;
    /* background-color: #874bdb; */
    margin: -57vh 0vh 0vh 14vw;
}
#background2>.section-five>.para1>.content{
    height: 80%;
    width: 100%;
    /* background-color: black; */
}
#background2>.section-five>.para1>.content>h4{
    font-size: 26px ;
    line-height: 38px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    font-family: Arial, Helvetica, sans-serif;
}
#background2>.section-five>.para1>.content>h4>b{
    color: white;
}
#background2>.section-five>.para1>.link1{
    height: 17%;
    width: 53%;
    /* background-color: aqua; */
}
#background2>.section-five>.para1>.link1>a{
    height: 100%;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
    text-decoration: none;
    display: block;
  position: relative;
  padding: 0.2em 0;
  overflow: hidden;
}
#background2>.section-five>.para1>.link1>a::after {
    content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: white;
  transition: 300ms;
}
#background2>.section-five>.para1>.link1>a:hover::after{
    width: 100%;
}
#background2>.section-five>.para2{
    height: 38vh;
    width: 37vw;
    /* background-color: gray; */
    margin: 20vh 0vw 0vh 14vw;
}
#background2>.section-five>.para2>.content2{
    height: 15%;
    width: 25%;
    /* background-color: yellow; */
}
#background2>.section-five>.para2>.content2>label{
    height: 63%;
    width: 75%;
    /* border: 1px solid #3fb950; */
    background: none;
    border-radius: 20px;
    text-align: center;
    padding-top: 2px;
    font-size: 12px;
    font-weight: 600;
    color: #3fb950;
}
#background2>.section-five>.para2>h1{
    font-size: 72px;
    line-height: 76px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3fb950;
    font-weight: 500;
}
#background2>.section-five>.para2>p{
    font-size: 27px;
    line-height: 32px;
    font-weight: 500;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#background2>.section-five>.para2>.link2{
    height: 17%;
    width: 37%;
    /* background-color: aqua; */
}
#background2>.section-five>.para2>.link2>a{
    height: 100%;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
    text-decoration: none;
    display: block;
  position: relative;
  padding: 0.2em 0;
  overflow: hidden;
}
#background2>.section-five>.para2>.link2>a::after {
    content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: white;
  transition: 300ms;
}
#background2>.section-five>.para2>.link2>a:hover::after{
    width: 100%;
}
#background2>.section-five>.img5{
    height: 120vh;
    width: 60vw;
    /* background-color: black; */
    margin: -55vh 0vw 0vh 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#background2>.section-five>.img5>img{
    height: 90%;
    animation: rotate 80s;
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
#background2>.section-five>.block1{
    height: 70vh;
    width: 92vw;
    margin: -53.5vh 0vw 0vh 4.5vw;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    display: flex;
    position: relative;
    
}
#background2>.section-five>.block1>.blockL,
#background2>.section-five>.block1>.blockR{
    height: 100%;
    width: 50%;
}
#background2>.section-five>.block1>.blockL{
    /* background-color: #6e40c9; */
    border-radius: 10px 0px 0px 10px;
}
#background2>.section-five>.block1>.blockL:hover{
    cursor: pointer;
    /* background: radial-gradient( ellipse top, rgb(70, 185, 70,50%),transparent),
                radial-gradient( ellipse bottom rgba(230, 236, 230, 0.5),transparent); */
    /* transform: perspective(700px) rotateX(0.03deg) rotateY(0.03deg);
    transform: translate(-600.31px, 121.42px);
    overflow: hidden; */
    
    /* rounded-3 mb-3 mb-md-5 */


}
#background2>.section-five>.block1>.blockR{
    /* background-color: aqua; */
    border-radius: 0px 10px 10px 0px;
    position: relative;
}
#background2>.section-five>.block1>.blockR>img{
    margin-right: 10px;
    border-radius: 0px 0px 10px 0px;
}